rapidfuzz
free-proxy
PySocks
git+https://github.com/ShuShuzinhuu/SpotiFLAC-Module-Version.git@4616ae4c3628e05235905a6ec5568bb1144b6b1b#egg=SpotiFLAC
pycryptodomex
httpx[http2]>=0.27.0
hishel
socksio
aiofiles>=23.2.1
tenacity>=8.3.0
tqdm>=4.66.0
pywebview>=5.0.0
mutagen>=1.47.0
pydantic>=2.7.0
cryptography>=42.0.0,<47
packaging>=23.0
pycryptodome>=3.20.0
yt-dlp>=2024.04.09
imageio-ffmpeg>=0.5.1
ytp-dl>=2026.5.28; sys_platform == "linux"
python-dotenv>=1.0.0
GitPython>=3.1.43
pyobjc-framework-IOBluetooth>=10.0; sys_platform == "darwin"
pyobjc-framework-AVFoundation>=12.2; sys_platform == "darwin"
pyobjc-framework-CoreAudio>=12.2; sys_platform == "darwin"
bleak>=0.22.3; sys_platform == "win32"
pythonnet>=3.0.4; sys_platform == "win32"
sounddevice>=0.5.1; sys_platform == "win32"
soundfile>=0.12.1; sys_platform == "win32"
numpy>=1.26.0; sys_platform == "win32"
torrfetch
libtorrent; sys_platform != "win32"
